@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Patrick+Hand&family=Raleway:wght@200;300&display=swap');

.cv {
  position: relative;
  display: flex;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 1px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 8.5in;
  height: 11in;
  background-color: white;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.349);
  margin: 100px;
}

.info {
  display: flex;
}

.info h1 {
  font-family: 'Bebas Neue', cursive;
}

.general-info {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  border: none;
}

.full-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

.textInput {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  color: rgb(241, 50, 50) !important;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
}

.work-exp .textInput{
  text-align: start;
}

.textArea {
  font-family: inherit;
  font-size: inherit;
  color: rgb(241, 50, 50) !important;
  margin: 0px;
  padding: 0px;
  height: fit-content;
  width: 380px;
  text-transform: inherit;
  letter-spacing: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

.title {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.full-name h1 {
  margin: 0px 5px ;
}

.full-name :nth-child(2) {
  color: grey;
}

.contact-info {
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.contact-info div {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.education, .skills {
  width: 2in;
  padding-left: .5in;
  padding-right: .5in;
}

.skills {
  margin-top: 60px;
}

.skills ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.skills .textInput, .school .textInput {
  text-align: left;
}

.work-exp {
  width:4.5in;
  padding-right: .5in;
  padding-left: .5in;
  height: 9in;
}

.job {
  margin-bottom: 30px;
}

.company-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 17px;
}

.time {
  display: flex;
}

.time .textInput {
  text-align: end;
}

.dash {
  margin-left: .5ch;
  margin-right: .5ch;
}

.position-title {
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

.work-exp .wrapper, .skills .wrapper, .school-time .wrapper{
  margin-bottom: 5px;
}

.school {
  margin-bottom: 20px;
}

.square-icon {
  width: 17px;
  height: 17px;
  border: 2.5px solid white;
  border-radius: 25%;
}

.edit-button {
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  transition: ease 0.1s;
  border-radius: 50%;
  border: none;
  background-color: gray;
  z-index: 1;
}

.edit-button:hover {
  transform: scale(1.2);
}

.edit-button:hover .square-icon{
  border-color: aqua;
  box-shadow: 0px 0px 5px aquamarine;
}

.edit-wrapper {
  position: sticky;
  top:45px;
  transform: translateX(40px);
}

.tutorial {
  position: absolute;
  left: 60px;
  font-family: 'Patrick Hand', cursive;
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
  z-index: -1;
}

.arrow {
  width: 50px;
  transform: scaleX(-1);
  margin-right: 10px;
}

.add {
  position: absolute;
  font-family: 'Patrick Hand', cursive;
  font-size: 14px;
}

.remove {
  position: absolute;
  transform: translateX(-35px);
  width: 20px;
  height: 20px;
  background-color: rgb(241, 50, 50);
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.1s;

}

.remove-icon {
  width: 10px;
  height: 5px;
  background-color: white;
  border-radius: 3px;
}

.remove:hover {
  transform: translateX(-35px) scale(1.1);
}

@media print{
  .edit-wrapper, button, .remove {
    display: none;
  }

  .cv {
    box-shadow: none;
    margin: 0px;
    left: 0px;
    top: 0px;
    position:absolute;
  }
}